 *{
      box-sizing: border-box;
 } 

  body{
    font-family: "Barlow", sans-serif;
    background-color: #EFF6FF;
 }

 @font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Regular-webfont.woff") format("woff");
    font-weight: 400;
 }

 @font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Medium-webfont.woff") format("woff");
    font-weight: 500;
 }
 @font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Bold-webfont.woff") format("woff");
    font-weight: 700;
 }
h2 {
    color: #7B8A92;
    font-weight: 600;
    margin-bottom: 6px;
}

h3{
    color: #7B8A92;
    font-weight: 500;
    margin-bottom: 5px;
}

h5{
    color: #96A5B1 ;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 28px;
}

p{
   color: #2A4A5C; 
}
 
 .container {
    display:flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: stretch;
     
 }

 
 .left{
    width: 50%;
 }
 .left img {
    width:100%;
    height: 100%;
    object-fit: cover;
 }


 .right {
    width: 50%;
    padding: 60px 70px;
    background-color:#ffff;
 }

.social-buttons {
    display: flex;
    gap: 30px;
    margin: 25px 0;
}

.social-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    width: 100%;
    height: 44px;            
    padding: 0 18px;

   
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;      
}

.social-buttons img {
    width: 18px;
    height: 18px;
    
}

.fb-btn {
    background-color: #255A9B;
}
.ln-btn {
    background-color: #0076B6;
}


.social-buttons a:hover {
    opacity: 0.9;
    transform: translateY(-1px);
    transition: 0.25s ease;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    gap:0px;
    margin: 40px 0; 
    font-size: 10px;
    
}

.divider::before,
.divider::after {
    content: "";
    width: 100px;                  
    border-bottom: 1px solid #D9D9D9;
}

.divider::before { margin-right: 12px; } 
.divider::after  { margin-left: 12px; }


 .form-row {
    display:flex;
    gap:30px; 
    margin-bottom: 70px;
 }
 
 .form-row p {
    flex: 1;
    margin: 0;
    color: #AFAFAF;
}
 
input[type="email"], 
input[type="phone"] {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
}

.radio-group {
  font-weight: 500;
  display: flex;
  gap: 20px; 
  align-items: center;
  margin-bottom: 100px;
}

button {
 display: inline-block;
 background-color: #3698FB; 
 color: #ffff;  
 align-items: center;
 justify-content: center;
 width: 40%;
 height: 44px;            
 padding: 0 18px;
 
 border: none;
 border-radius: 6px;
 font-weight: 400;
 margin-top:30px;
 cursor: pointer;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

button:hover {
 background: #3278ff;
 transform: translateY(-2px);
 transition: .2s;
}







