 *{
      box-sizing: border-box;
 } 

  body{
    font-family: "Barlow", sans-serif;
    background-color: #EFF6FF;
 }

 @font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Regular-webfont.woff") format("woff");
    font-weight: 400;
 }

 @font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Medium-webfont.woff") format("woff");
    font-weight: 500;
 }
 @font-face {
    font-family: "Barlow";
    src: url("fonts/Barlow-Bold-webfont.woff") format("woff");
    font-weight: 700;
 }
h2, h3{
    color: #7B8A92;
    font-size: 500;
}

h5{
    color: #96A5B1 ;
    font-size: 400;
}

p{
   color: #2A4A5C; 
}
 
 .container {
    display:flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: stretch;
     
 }

 
 .left{
    width: 50%;
 }
 .left img {
    width:100%;
    height: 100%;
    object-fit: cover;
 }
 .right {
    width: 50%;
    padding: 60px;
    background-color:#ffff;
 }

.social-buttons {
    display: flex;
    gap: 12px;
    margin: 25px 0;
}

.social-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 100%;
    height: 44px;            
    padding: 0 18px;

    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;      
}

.social-buttons img {
    width: 18px;
    height: 18px;
    
}

.fb-btn {
    background-color: #255A9B;
}
.ln-btn {
    background-color: #0076B6;
}


.social-buttons a:hover {
    opacity: 0.9;
    transform: translateY(-1px);
    transition: 0.25s ease;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    gap:0px;
    margin: 30px 0; 
    
}

.divider::before,
.divider::after {
    content: "";
    width: 150px;                  
    border-bottom: 2px solid #D9D9D9;
}

.divider::before { margin-right: 12px; } 
.divider::after  { margin-left: 12px; }


 .form-row {
    display:flex;
    gap:15px; 
 }
 
 .form-row p {
    flex: 1;
    margin: 0;
}
 
input[type="email"], 
input[type="phone"] {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #EEEEEE;
}

.radio-group {
  font-weight: 500;
  display: flex;
  gap: 20px; 
  align-items: center;
}








